<center>
	<div class="sc-staticContentContainer">
	  <div class="sc-staticContentTitle"><h2>About</h2></div>      	
	  <div class="sc-staticContent">This web site is a simple utility for geek users to keep track of all the shortcuts.</div>      	
	  <div class="sc-staticContent">I have initiated the project because I wanted to keep track of all the shortcuts and tips that are very
	  		useful to know while using programs like eclipse, intellij idea or even more common like chrome, firefox
	  		and gmail. I did it for myself and I find it useful, I hope you will like it as well.</div>
	  <div class="sc-staticContent">Please let me know of any problems or features you want to add. To do that you can leave a comment here, thanks.</div>
	</div>
</center>