<center>
	<div class="sc-staticContentContainer">
	  <div class="sc-staticContentTitle"><h2>Dojo</h2></div>      	
	  <div class="sc-staticContent">We are thinking to implement something like a dojo. For us a dojo is a place where you can measure and train your knowledge about shortcuts for specific tools.</div>      	
	  <div class="sc-staticContent">In fact we made some changes to define the level of every single shortcut.</div>
	  <div class="sc-staticContent">By doing so, now we are able to offer you some training tools to increase quickly, with some exercises, your level of knowledge.</div>
	  <div class="sc-staticContent">Before doing that, we will like to here what you think about it and what you want. So please just put some comment here, thanks.</div>
	</div>
</center>