<center>
	<div class="sc-staticContentContainer">
	  <div class="sc-staticContentTitle"><h2>Terms and Conditions</h2></div>      	
	  <div class="sc-staticContent">By using our service you agree to all the following terms and conditions:</div>      	
	  <div class="sc-staticContent">&#9658; All the usages of the services must be respectful and lawful.</div>
	  <div class="sc-staticContent">&#9658; The content you post will be verify and we have the authority to remove any shortcut that contains incorrect or offensive material.</div>
	</div>
</center>