<div class="sc-leftTop">
	<div class="sc-leftTop" style="margin-top:-55px;">
		<div class="sc-leftTitle"><h4>Tools</h4></div>
		<div class="sc-leftResult"><a href="/?query=excel" style="border:0px">Excel</a></div>
		<div class="sc-leftResult"><a href="/?query=word" style="border:0px">Word</a></div>
		<div class="sc-leftResult"><a href="/?query=firebug" style="border:0px">Firebug</a></div>
		<div class="sc-leftResult"><a href="/?query=eclipse" style="border:0px">Eclipse</a></div>
		<div class="sc-leftResult"><a href="/?query=chrome" style="border:0px">Chrome</a></div>
		<div class="sc-leftResult"><a href="/?query=gmail" style="border:0px">Gmail</a></div>
		<div class="sc-leftResult"><a href="/?query=netbeans" style="border:0px">Netbeans</a></div>
		<div class="sc-leftResult"><a href="/?query=vlc" style="border:0px">Vlc</a></div>
		<div class="sc-leftResult"><a href="/?query=windows" style="border:0px">Windows</a></div>
		<div class="sc-leftResult"><a href="/?query=mac" style="border:0px">Mac</a></div>
	</div>
</div>